.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.bottom {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
}

.outline {
    color: #fff;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  color: white;
  padding: 10px;
  text-align: center;
}

.chart-container {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.size-canvas{

  width: 400px !important;
  height: 200px !important;

}
